/* RESET E IMPOSTAZIONI GENERALI */

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* ANCHOR HEADER */

header {
    width: 100%;
    background-color:white;
    position: fixed;
    z-index: 2;
}

nav {
    /* background-color: blueviolet; */
    height: 9vh;
    width: 100%;
    margin: 0px auto 0px auto;
    position: relative;
    
}

nav ul {
    display: inline-block;
    /* background-color: aqua; */
    list-style: none;
}

nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    background-color: white;
    margin: -3px;

}

.change:hover {
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    background-color: antiquewhite ;
    margin: -3px;
    border-bottom: 2px solid black;

}

nav ul li a {
    color: black;
    text-decoration: none;
}

.sinistra {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.destra {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
}

#pulsante-header {  
    color: white;
    background-color: #0061FF;
    padding: 8px 22px 8px 22px;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: lighter;
    /* position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);  */
}





/* ANCHOR MAIN  */

/* ANCHOR MAIN BLOCCO1  */

main {
    position: relative;
}
.blocco1 {
    height: 100vh;
    width: 100%;
    background-color: #B4D0E7;
    position: relative;
}

.spaziatura-blocco1 {
    height: calc(20vh + 15px);

    width: 100%;
    /* border: 3px solid black; */
    float: left;
}

.spaziatura2-blocco1 {
    height: calc(80vh - 15px);

    width: 10%;
    /* border: 3px solid black; */
    float: left;
}

.spaziatura3-blocco1 {
    height: calc(80vh - 15px);

    width: 10%;
    /* border: 3px solid black; */
    float: right;
}

.titolo-blocco1 {
    height: 28%;
    width: 80%;
    /* border: 3px solid black; */
    float: left;
}

.titolo-blocco1 p {
    font-size: 4.2em;
    font-weight: bold;
    display: inline-block;
}

.descrizione-blocco1 {
    height: calc(80vh - 15px - 28%);
    width: 27%;
    /* border: 3px solid black; */
    float: left;
}

.descrizione-blocco1 p {
    width: 80%;
}

#pulsante-blocco1 {  
    color: white;
    background-color: #0061FF;
    padding: 8px 22px 8px 22px;
    text-decoration: none;
    font-weight: lighter;
    display: inline-block;
    margin-top: 25px;
}

#descrizione-pulsante-blocco1 {
    display: block;
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.freccia {
    font-size: 2.5em;
}

.foto-blocco1 {
    width: 53%;
    height: calc(80vh - 15px - 28%);
    /* border: 3px solid black; */
    float: left;
}

.foto-blocco1 img {
    width: 100%;
}

.blocco-intermezzo {
    width: 100%;
    height: 33vh;
    /* background-color: yellow; */
}

/* ANCHOR BLOCCO2  */

#blocco2 {
    height: 160vh;
    width: 70%;
    margin: auto;
    /* background-color: rgb(228, 30, 30);  */
    position: relative;
}

#titolo-piano-dropbox {
    font-size: 2.1em;
    display: block;
    font-weight: bolder;
    /* border: 1px solid rgb(141, 137, 137); */
    float: left;
    width: 100%;
    height: 13vh;
}

#blocco2 form {
    display: block;
    /* border: 1px solid rgb(141, 137, 137); */
    float: left;
    width: 100%;
    height: 8vh;
}

#blocco2 form label {
    margin-right: 23px;
}

.colonna {
    width: 30%;
    height: 130vh;
    border: 1px solid rgb(141, 137, 137);
    float: left;
}

.colla-vuota {
    width: 5%;
    height: 130vh;
    /* border: 1px solid rgb(141, 137, 137); */
    float: left;
}
.sopra-colonna {
    width: 100%;
    /* background-color: blue; */

}

.simbolo-sopra-colonna {
    width: 100%;
    /* background-color: yellow; */
    display: inline-block;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid rgb(141, 137, 137);

}

.nome-piano {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 30px 0px 15px 15px;
}

.prezzo-piano {
    font-weight: bolder;
    margin: 0px 0px 15px 15px;
}
.mese-piano {
    font-size: 0.8em;
    margin: 0px 0px 40px 15px;
    color: rgb(141, 137, 137);
}

.simbolo-blocco2 {
    font-size: 0.8em;
}

.descrizione-piano-blocco2 {
    font-size: 0.8em;
    margin-bottom: 20px;
}

.pulsante-colonna-blocco2 {  
    color: white;
    background-color: #0061FF;
    padding: 8px 22px 8px 22px;
    text-decoration: none;
    font-weight: lighter;
    display: block;
    text-align: center;
    width: 85%;
    margin: 50px auto 25px auto;
    
}

.acquista-piano-blocco2 {
    margin: 0px 0px 15px 30px;
    font-size: 0.8em;
}

.link-acquista-ora {
    color: rgb(0, 162, 255);
}

.intermezzo-blocco2 {
    display: block;
    width: 14%;
    height: 2vh;
    border-bottom: 2px solid black;
     margin: 0px 0px 30px 30px;
}

.punti-piano {
    font-weight: bolder;
    margin: 0px 0px 30px 23px;
    display: block;
}

.spunta-blu-blocco2 {
    color:rgb(0, 162, 255);
    font-weight: bolder;
    font-size: 1.3em;
}

/* ANCHOR BLOCCO3  */

#blocco3 {
    height: 30vh;
    width: 70%;
    margin: auto auto 110px auto;
    border: 1px solid rgb(141, 137, 137);
    position: relative;
}

.sopra-colonna-blocco3 {
    width: 100%;
   
    /* background-color: blue; */

}

.simbolo-sopra-colonna-blocco3 {
    width: 100%;
    /* background-color: yellow; */
    display: inline-block;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    border-bottom: 1px solid rgb(141, 137, 137);

}

.nome-piano-blocco3 {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 30px 0px 15px 15px;
   
}

.sottotitolo-nome-piano-blocco3 {
    font-weight: bolder;
    margin: 0px 0px 30px 15px;
    
}

.descrizione-piano-blocco3 {
    font-size: 0.8em;
    margin: 0px 0px 15px 15px;
}

.pulsante-colonna-blocco3 {  
    color: white;
    background-color: #0061FF;
    padding: 6px 35px 6px 35px;
    text-decoration: none;
    font-weight: lighter;
    display: block;
    text-align: center;
    width: 24%;
    position: absolute;
    right: 5%;
    top: 27%;
 
}

/* ANCHOR BLOCCO4  */

.blocco4 {
    /* background-color: red; */
    width: 70%;
    height: 65vh;
    margin: auto auto 120px auto;
    position: relative;
}

.blocco4-container-a {
    float: left;
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    background-image: url(immagini/partner.png);
    background-size: cover;
    background-position: center;
}

.blocco4-container-b {
    float: left;
    width: 50%;
    height: 100%;
    /* background-color: rgb(255, 0, 221); */
}

.nome-blocco4 {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 60px 0px 30px 31px;
    width: 75%;
}

.descrizione-blocco4 {
    margin: 0px 0px 22px 31px;
    width: 75%;
    font-size: 0.95em;
}

.pulsante-blocco4 {  
    color: rgb(0, 0, 0);
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    font-weight: lighter;
    display: block;
    text-align: center;
    width: 35%;
    border: 1px solid black;
    margin: 0px 0px 15px 31px;
}


/* ANCHOR BLOCCO5  */

.blocco5 {
    width: 70%;
    height: 170vh;
    /* background-color: blue; */
    margin: auto;
}

.titolo-blocco5 {
    font-size: 2.5em;
    font-weight: bolder;
    /* background-color: yellow; */
    margin-bottom: 60px;
}

.contenitore-colonne-blocco5 {
    width: 100%;
    height: 80%;
    position: relative;
    /* background-color: red; */
}

.colonna-blocco5 {
    height: 50%;
    width: 30%;
    /* background-color: aqua; */
    float: left;
    /* border: 2px solid black; */
    position: relative;
}

.spazio-colonna-blocco5 {
    height: 50%;
    width: 5%;
    /* background-color: yellow; */
    float: left;
}

.testo-colonna-blocco5 {
    width: 100%;
    /* background-color: blue; */
    float: left;
}

.titolo-colonna-blocco5 {
    font-size: 1.5em;
    font-weight: bolder;
    margin: 20px 0px 20px 0px;
}

.immagine-colonna-blocco5 {
    width: 100%;
    height: 50%;
    /* background-color: blue; */
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#immagine-1 {
background-image: url(immagini/01-business-feature-switching-tools.png);
}

#immagine-2 {
background-image: url(immagini/02-business-feature-coordinate-it.png );
}

#immagine-3 {
background-image: url(immagini/03-business-feature-multi-device.png );
}

#immagine-4 {
background-image: url(immagini/04-business-feature-integrations-it.png  );
}

#immagine-5 {
background-image: url(immagini/05-business-feature-send-files-it.png  );
}

#immagine-6 {
background-image: url(immagini/06-business-feature-security.png  );
}

/* ANCHOR BLOCCO6  */

.blocco6 {
    width: 70%;
    height: 25vh;
    /* background-color: blue;  */
    margin: auto auto 60px auto;
}

.titolo-blocco6 {
    font-size: 2.5em;
    font-weight: bolder;
    /* background-color: yellow;  */
    width: 70%;
    margin-bottom: 30px;
}

.sottotitolo-blocco6 {
    color: rgb(0, 162, 255);
}

/* ANCHOR BLOCCO7  */

.blocco7 {
    width: 100%;
    /* border: 2px solid purple; */
    position: relative;
    background-color: #F5F5F5;
}

.quadrato-sinistra-blocco7 {
    width: 28.5%;
    /* background-color: aquamarine; */
    position: relative;
    float: left;
   
}

.centrale-blocco7 {
    display: inline-block;
    /* background-color: yellow; */
    width: 40%;
}

.centrale-blocco7 img {
    width: 17vh;
    margin: 60px 0px 35px 45px;
}

.testo-centrale-blocco7 {
    display: inline-block;
    width: 80%;
    margin: 60px 0px 0px 45px;
}
.testo-centrale-blocco7 p{
    display: inline-block;
    margin-bottom: 35px;
}


.linea-blocco7 {
    width: 7vh;
    margin: 0px 0px 0px 45px;
    border-bottom: 1px solid grey;
}
.quadrato-destra-blocco7 {
    width: 28.5%;
    /* background-color: aquamarine; */
    position: relative;
    float: right;
}

 .quadratino-blocco7 {
    width: 50%;
    padding-top: 50%;
    float: left;
    /* background-color: blue; */
    /* border: 2px solid black; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    filter: invert(100%);
} 

.quadratino-blocco7:hover {
    width: 50%;
    padding-top: 50%;
    float: left;
    /* background-color: blue; */
    /* border: 2px solid black; */
    outline: 10px solid #00000083;
    outline-offset: -10px;
} 

#blocco7-01 {
    background-image: url(immagini/designit.svg);
    background-color: #5D2C64;
}

#blocco7-02 {
    background-image: url(immagini/arizona_state_university.svg);
    background-color: #9EF7D4 ;
}

#blocco7-03 {
    background-image: url(immagini/university_of_florida.svg);
    background-color: #FF6C31;
}

#blocco7-04 {
    background-image: url(immagini/topps.svg );
    background-color: #00E3E3;
}

#blocco7-05 {
    background-image: url(immagini/world_bicycle_relief.svg );
    background-color: #2AFFE0;
}

#blocco7-06 {
    background-image: url(immagini/hearst_corp.svg );
    background-color: #4B2F18;
}

#blocco7-07 {
    background-image: url(immagini/lonely_planet.svg );
    background-color: #F2DB7E;
}

#blocco7-08 {
    background-image: url(immagini/clear_channel.svg );
    background-color: #0027CF;
}

/* ANCHOR BLOCCO8  */

.blocco8 {
    width: 100%;
    height: 45vh;
    background-color: #B4D0E7;
}

.contenuto-blocco8 {
    width: 70%;
    /* background-color: yellow; */
    height: 100%;
    margin: auto;
    position: relative;
}

.titolo-blocco8 {
    margin-top: 110px;
    font-size: 2.5em;
    font-weight: bolder;
    color: #61082B;
    width: 50%;
    display: inline-block;
}

.pulsante-blocco8 {  
    color: rgb(0, 0, 0);
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    font-weight: lighter;
    display: block;
    text-align: center;
    width: 30%;
    float: right;
    background-color: white;
    margin: 110px 30px 0px 0px;
}

/* ANCHOR BLOCCO9  */

.blocco9 {
    width: 70%;
    /* background-color: #0027CF;  */
    margin: auto;
    height: 85vh;
}

.titolo-blocco9 {
    font-size: 1.8em;
    font-weight: bolder;
    margin-top: 100px;
    padding-bottom: 50px;
    display: block;
    border-bottom: 1px solid gray;
}

.contenuto-blocco9 {
    font-weight: bolder;
    padding-bottom: 40px;
    padding-top: 40px; 
    display: block;
    border-bottom: 1px solid gray;
    position: relative;
}

.blocco9-destra {
    float: right;
}

.blocco9-sinistra {
    float: left;
}

/* ANCHOR FOOTER  */

footer {
    width: 100%;
    height: 60vh;
    background-color: black;
}

.contenuto-footer {
    width: 85%;
    margin: auto;
    position: relative;
    padding-top: 110px;
}
.contenuto-footer ul {
    background-color: #5D2C64;
    display: inline-block;
    list-style: none;
    margin-right: 80px;
    float: left;
}

#titolo-footer {
    margin-bottom: 20px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}

.link-footer {
    color: white;
    text-decoration: none;
}

.contenuto-footer ul li {
    margin-bottom: 10px;
}